In [3]:
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv("dataset/vehicle-fuel-type-count-by-zip-code.csv")

C:\Users\Xiaoxing Zhao\AppData\Local\Programs\Python\Python38\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [7]:
df.head()

,Date,Zip Code,Model Year,Fuel,Make,Duty,Vehicles
0,10/1/2018,90000,2006,Gasoline,OTHER/UNK,Light,1
1,10/1/2018,90000,2014,Gasoline,OTHER/UNK,Light,1
2,10/1/2018,90000,2016,Gasoline,OTHER/UNK,Light,1
3,10/1/2018,90000,2017,Gasoline,OTHER/UNK,Light,1
4,10/1/2018,90000,<2006,Diesel and Diesel Hybrid,OTHER/UNK,Heavy,55

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 586233 entries, 0 to 586232
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Date        586233 non-null  object
 1   Zip Code    586233 non-null  object
 2   Model Year  586233 non-null  object
 3   Fuel        586233 non-null  object
 4   Make        586233 non-null  object
 5   Duty        586233 non-null  object
 6   Vehicles    586233 non-null  int64
dtypes: int64(1), object(6)
memory usage: 31.3+ MB

In [10]:
df.tail()

,Date,Zip Code,Model Year,Fuel,Make,Duty,Vehicles
586228,10/1/2018,Other,<2006,Hybrid Gasoline,TOYOTA,Light,54
586229,10/1/2018,Other,<2006,Natural Gas,OTHER/UNK,Heavy,4
586230,10/1/2018,Other,<2006,Natural Gas,OTHER/UNK,Light,6
586231,10/1/2018,Other,<2006,Other,OTHER/UNK,Heavy,1
586232,10/1/2018,Other,<2006,Other,OTHER/UNK,Light,8

In [ ]:
fig, ax = plt.subplot()
ax.stackplot()